<!DOCTYPE html>
<!--<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Time Management Dashboard</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    
    <script type="text/JavaScript">
        function showMonth(){
            var month = document.getElementById("month").value;
            display_month.innerHTML= month;
        }
        function showWeek(){
            var week = document.getElementById("week").value;
            display_week.innerHTML= week;
        }
		function currentMonth() {
			var cur_date = new Date();
			var month = cur_date.getMonth();
			switch(month){
				case 0: return "January";
				case 1: return "February";
				case 2: return "March";
				case 3: return "April";
				case 4: return "May";
				case 5: return "June";
				case 6: return "July";
				case 7: return "August";
				case 8: return "September";
				case 9: return "October";
				case 10: return "November";
				case 11: return  "December";
			}
			return month;
		}
		function currentWeek() {
			var today = new Date().getWeekNumber();
			return today;
		}
		function findTimeDifference(h1,m1,a1,d1,h2,m2,a2,d2) {
			daysInMins = 0;
			// check hours
			if (a1 == "p.m.") {
				a1 = a1 + 12;
			}
			if (a2 == "p.m.") {
				a2 = a2 + 12;
			}

			// check days
			if (d1 != d2) {
				daysDiff = d2 - d1
				daysInMins = 24*60*daysDiff;
			}

			// calculate minutes
			hoursInMins = 60*(h2-h1);
			mins = m2 - m1;
			return hoursInMins + mins + daysInMins;
		}
		Date.prototype.getWeekNumber = function(){
			var d = new Date(Date.UTC(this.getFullYear(), this.getMonth(), this.getDate()));
			var dayNum = d.getUTCDay() || 7;
			d.setUTCDate(d.getUTCDate() + 4 - dayNum);
			var yearStart = new Date(Date.UTC(d.getUTCFullYear(),0,1));
			return Math.ceil((((d - yearStart) / 86400000) + 1)/7)
			// referenced from https://stackoverflow.com/questions/6117814/get-week-of-year-in-javascript-like-in-php
		};
    </script>
</head>

<body>
	<div class='text-center'>
		<h1>Time Management Dashboard</h1>
	</div>
	<div class='container'>
		<p>Enter a month or week</p>
        <form>
            Month: <input type="text" id = "month">
            <input type="button" onclick="showMonth()" value="submit" />
        </form>
        <form>
            Week: <input type="text" id = "week">
            <input type="button" onclick="showWeek()" value="submit" />
        </form>
	</div>
	<div class='container' id="displayMonth">
        <p> Month is: <span id = "display_month"></span> </p>
        <p> Week is: <span id = "display_week"></span> </p>
        <script>
            var month = '';
            var week = '';
            if (document.getElementById("month").value === '') {
				month = currentMonth();
            	document.getElementById("display_month").innerHTML = month;
            }
            else {
                month = document.getElementById("month").value;
            }
            
            if (document.getElementById("week").value === '') {
                week = currentWeek();
				document.getElementById("display_week").innerHTML = week;
            }
            else {
                week = document.getElementById("week").value;
            }
        </script>
		<div id='tasks'>
			<h3>Tasks</h3>
			{% if assignment_list %}
            <ol>
				{% for assignment in assignment_list %}
				<li>
					{{ assignment.name }}
					<ul>
						{% if assignment.timers.all %}
						<li> Week: 
							<script>
								var taskTimes = [];
								var taskMonthTimes = [];
							</script>
							{% for timer in assignment.timers.all %}
							<script>
								// find the time difference for the week
								if ("{{timer.begin|date:'W'}}" == document.getElementById("display_week").innerHTML) {
									let beginH = "{{timer.begin|date:'g'}}";
									let beginM = "{{timer.begin|date:'i'}}";
									let beginA = "{{timer.begin|date:'a'}}";
									let beginD = "{{timer.begin|date:'d'}}";
									let endH = "{{timer.end|date:'g'}}";
									let endM = "{{timer.end|date:'i'}}";
									let endA = "{{timer.end|date:'a'}}";
									let endD = "{{timer.end|date:'d'}}";
									let timeDif = findTimeDifference(beginH, beginM, beginA, beginD, endH, endM, endA, endD);
									taskTimes.push(timeDif);
								}

								// find the time difference for the month
								if ("{{timer.begin|date:'F'}}" == document.getElementById("display_month").innerHTML) {
									let beginH = "{{timer.begin|date:'g'}}";
									let beginM = "{{timer.begin|date:'i'}}";
									let beginA = "{{timer.begin|date:'a'}}";
									let beginD = "{{timer.begin|date:'d'}}";
									let endH = "{{timer.end|date:'g'}}";
									let endM = "{{timer.end|date:'i'}}";
									let endA = "{{timer.end|date:'a'}}";
									let endD = "{{timer.end|date:'d'}}";
									let timeDif = findTimeDifference(beginH, beginM, beginA, beginD, endH, endM, endA, endD);
									taskMonthTimes.push(timeDif);
								}
							</script>
							{% empty %}
							{% endfor %}
							<script>
								// sum all the times to get total week
								var weekTime = taskTimes.reduce((x,a) => x+a,0);
								document.write(weekTime, " mins");
							</script></li>
						<li> Month:
							<script>
								// sum all the times to get total month
								var monthTime = taskMonthTimes.reduce((a,b) => a+b, 0);
								document.write(monthTime, " mins");
							</script></li>
						{% else %}
							<li>No times are available</li>
						{% endif %}
					</ul>
					{% endfor %}
			</ol>
			{% else %}
				<p>No assignments are available.</p>
			{% endif %}
		</div>
		<div id='projects'>
			<h3>Projects</h3>
			{% if assignment_list %}
				<script>
					var weekDict = {};
					var monthDict = {};
				</script>
				{% for assignment in assignment_list %}
						{% if assignment.timers.all %}
							<script>
								var holderTimes = [];
								var holderMonthTimes = [];
							</script>
							{% for timer in assignment.timers.all %}
							<script>
								// find the time difference for the week for each timer
								if ("{{timer.begin|date:'W'}}" == document.getElementById("display_week").innerHTML) {
									let beginH = "{{timer.begin|date:'g'}}";
									let beginM = "{{timer.begin|date:'i'}}";
									let beginA = "{{timer.begin|date:'a'}}";
									let beginD = "{{timer.begin|date:'d'}}";
									let endH = "{{timer.end|date:'g'}}";
									let endM = "{{timer.end|date:'i'}}";
									let endA = "{{timer.end|date:'a'}}";
									let endD = "{{timer.end|date:'d'}}";
									let timeDif = findTimeDifference(beginH, beginM, beginA, beginD, endH, endM, endA, endD);
									holderTimes.push(timeDif);
								}
								// find the time difference for the month for each timer
								if ("{{timer.begin|date:'F'}}" == document.getElementById("display_month").innerHTML) {
									let beginH = "{{timer.begin|date:'g'}}";
									let beginM = "{{timer.begin|date:'i'}}";
									let beginA = "{{timer.begin|date:'a'}}";
									let beginD = "{{timer.begin|date:'d'}}";
									let endH = "{{timer.end|date:'g'}}";
									let endM = "{{timer.end|date:'i'}}";
									let endA = "{{timer.end|date:'a'}}";
									let endD = "{{timer.end|date:'d'}}";
									let timeDif = findTimeDifference(beginH, beginM, beginA, beginD, endH, endM, endA, endD);
									holderMonthTimes.push(timeDif);
								}
							</script>
							{% endfor %}
							<script>
								// calculate the total time
								var weekTime = holderTimes.reduce((x,a) => x+a,0);
								var monthTime = holderMonthTimes.reduce((a,b) => a+b, 0);
		
								// get the project name and check if it already exists
								var assignmentProjectName = "{{assignment.class_name}}";
								if (!(weekDict.hasOwnProperty(assignmentProjectName))) {
									weekDict[assignmentProjectName] = 0;
								}
								if (!(monthDict.hasOwnProperty(assignmentProjectName))) {
									monthDict[assignmentProjectName] = 0;
								}
		
								// sum the total time
								weekDict[assignmentProjectName] += weekTime;
								monthDict[assignmentProjectName] += monthTime;
							</script>
						{% endif %}
					{% endfor %}
					<h5>Time spent for the week:</h5>
					<ul id='projectFinalTimes'></ul>
					<h5>Time spent for the month:</h5>
					<ul id='projectMonthFinalTimes'></ul>
					<script>
					// write the project week values
					let list = document.getElementById("projectFinalTimes");
					for (var key of Object.keys(weekDict)) {
						let bullet = document.createElement("li");
						bullet.innerText = key + ": " + weekDict[key] + " mins";
						list.appendChild(bullet);
					}

					// write the project month values
					let list2 = document.getElementById("projectMonthFinalTimes");
					for (var key of Object.keys(monthDict)) {
						let bullet = document.createElement("li");
						bullet.innerText = key + ": " + monthDict[key] + " mins";
						list2.appendChild(bullet);
					}	
					
				</script>
			{% else %}
				<p>No projects are available.</p>
			{% endif %}
		</div>
	</div>
</body>

</html>-->
