<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Time Assignment</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>

<body>
    <div class="main">
        <form method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-success btn-lg" name="create_timer">Start Timer</button>
            <button type="submit" class="btn btn-danger btn-lg" name="stop_timer">Stop Timer</button>
        </form>
    </div>
</body>

</html>